@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600;700;800;900&display=swap');

*{margin: 0; padding: 0; box-shadow: border-box;}

body{
    background-color: rgb(26, 26, 26);
    font-family: 'Noto Sans Mono', monospace;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 16ch;
}

.title-page, .timer{
    color: #fff;
}

img{
    width: 10px;
    background: #fff;
}

.title-page{
    margin-top: 15px;
}

.timer{
    height: 100%;

    font-weight: 700;
    font-size: 4.5rem;
}

#millisecond{
    font-size: 1.7rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > button{
    margin: 15px 10PX;
    width: 50px;

    background: rgb(39, 39, 39);
    border: none;
    border-radius: 5px;
    
    transition: .2s;
    cursor: pointer;
}

.buttons > button:hover{
    background: rgb(108, 19, 116);
    width: 65px;

/*     transition: .4s; */
    
}

.material-icons{
    font-size: 35px !important;
    color: #fff;
    transition: .2s;
}

.material-icons:hover{
    font-size: 40px !important;
}